/* section dacceuil avec video et navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: nexa;
    background-color: #e0e0e0;
     
}

ul {
    list-style: none;
    font-family: sans-serif;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligne tous les enfants verticalement au centre */
    color: #fff;
    padding: 5px 100px 0;
    height: 90px;
    transition: background-color 0.3s; /* Animation de transition */
}

header a {
    text-transform: capitalize;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.head.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    /* Couleur de fond rouge lorsque l'utilisateur fait défiler */
}
header h2 {
    text-transform: uppercase;
    font-family: sans-serif;
}

header .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto; /* Pousse les liens de navigation vers la droite */
    transition: all 0.3s ease-in-out;
}

header .nav li {
    margin: 0 15px;
    
}

header .nav li:hover {
    color: #33232b;
}

header .nav li:first-child {
    margin-left: 0;
}

header .nav li:last-child {
    margin-right: 0;
}

/* Styles pour le menu hamburger */
.hamburger {
    display: none; /* Caché par défaut */
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    margin-left: 20px; /* Espace entre le menu et le hamburger */
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 10px 20px;
    }

    header .nav {
        display: none; /* Masquer les liens par défaut */
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 10px;
        background: rgba(0, 0, 0, 0.7);; /* Fond du menu */
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        z-index: 20;
    }

    header .nav.active {
        display: flex; /* Afficher les liens lorsqu'on clique sur le menu */
    }

    header .nav li {
        margin: 10px 0; /* Espacement vertical entre les liens */
    }

    .hamburger {
        display: block; /* Afficher le menu hamburger */
    }
}

/* video beginning */


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

@media (max-width: 1000px) {
    .box {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    .box {
        padding: 125px 30px;
    }
}


.box video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.box h1 {
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.box h3 {
    margin-bottom: 40px;
    font-size: 25px;
}

.box a.boxBtn {
    position: relative; /* Positionnement relatif pour éviter le chevauchement */
    z-index: 1; /* Place le bouton au-dessus de la vidéo */
    margin-top: 20px; /* Ajout d'un espacement sous le bouton */
    padding: 15px 35px;
    background: transparent;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
    font-family:sans-serif;
}

.box a.boxBtn:hover {
    background: #fff;
    color: #000;
}

@media (max-width: 800px) {
    .box {
        min-height: 600px;
    }

    .box h1 {
        font-size: 32px;
    }

    .box h3 {
        font-size: 20px;
    }

    .box a.boxBtn {
        padding: 15px 30px; /* Réduction du padding pour petits écrans */
    }
}

/* section a propos */

.main {
    padding-top: 55px;
    padding: 5% 8%;
}

 

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Ajuste l'espace entre les cartes */
}

.card {
    flex: 1 1 calc(33.33% - 20px); /* Chaque carte prend 1/3 de la largeur, moins l'espace pour le gap */
    box-sizing: border-box;
    
    padding: 20px;
    border-radius: 8px;
    text-align: center;
     
}

.cards .card i {
    font-size: 2rem; /* Taille de l'icône */
    margin-bottom: 20px;
    color: #5e8ea7;
}

.card h2{
    color: #37474f;
    margin-bottom: 20px;
    
}

.card p{
    color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


 




/* section grille  */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Grande image = 2 parts, colonnes à droite = 1 part */
    grid-template-rows: 1fr 1fr; /* Deux rangées de hauteur égale */
    gap: 10px; /* Espacement entre les images */
    max-width: 1200px;
    width: 100%; /* Largeur de la grille */
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste l'image sans la déformer */
    display: block;
}

/* Grande image à gauche */
.large {
    grid-column: 1 / 2; /* Colonne de gauche */
    grid-row: 1 / 3; /* S'étend sur deux lignes */
}

/* Première petite image en haut à droite */
.small:nth-child(2) {
    grid-column: 2 / 3; /* Colonne de droite */
    grid-row: 1 / 2; /* Première ligne */
}

/* Deuxième petite image en bas à droite */
.small:nth-child(3) {
    grid-column: 2 / 3; /* Colonne de droite */
    grid-row: 2 / 3; /* Deuxième ligne */
}

/* Overlay pour le texte */
.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
 





/* section slider */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px; /* Fix the height of the container */
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 100%; /* Ensures that slides take up full height of the container */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* footer section */
/* Footer section */

footer {
    /* background-color: #2A2A2A; */
    background-color: #37474f;
}

.footerContainer {
    width: 100%;
    padding: 5% 3%; /* Utilisation de valeurs relatives pour le padding */
}

.socialIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet aux icônes de médias sociaux de passer à la ligne sur de petits écrans */
}

.socialIcons a {
    text-decoration: none;
    padding: 8px;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 1.5em; /* Réduction de la taille des icônes */
    color: black;
    opacity: 0.9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
    text-align: center; /* Centrage du texte dans la navigation du pied de page */
}

.footerNav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.footerNav ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    font-family:sans-serif;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    font-family:sans-serif;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 6px; /* Réduction de la taille du padding pour les icônes de médias sociaux */
        margin: 3px; /* Réduction de la marge pour les icônes de médias sociaux */
    }
}



/* deuxieme page a propos */
.background-section {
    background-image: url("img/IMG_9222.JPG"); /* Chemin de l'image */
    background-size: cover; /* L'image couvre toute la section */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite de répéter l'image */
    height: 100vh; /* Hauteur de la section : toute la hauteur de l'écran */
    display: flex; /* Utilisé pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    color: white; /* Texte en blanc */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /* Ombre pour rendre le texte lisible */
}

.background-section h1 {
    font-size: 2rem;
    font-weight: bold;
}

.propos{
    margin-top: 25px;
    font-size: 2.5rem;
    text-align: center;
}
